<ion-content>
  <ion-card>

    <img [src]=pokeDetalhe />

    
    <ion-card-content>
      <ion-card-title style="color:white;">
        
      </ion-card-title>
      
    </ion-card-content>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{pokeName}}</ion-label>
    </ion-item>
  
    <ion-card-content>
      Habilidades: {{pokeHabilidades}}
    </ion-card-content>
    <ion-button expand="block" (click)="voltaPagina()" >Voltar</ion-button>
  </ion-card>
</ion-content>

